<h1> Message Board </h1>

<% if current_user %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %> |
    <%= link_to('Change Password', edit_registration_path(:user)) %>
<% else %>
    <%= link_to('Register', new_registration_path(:user)) %> |
    <%= link_to('Login', new_session_path(:user)) %>
<% end %>

<br>

<%= paginate @messages %>

<% @messages.each do |message| %>

    <%= message.author %>
    <%= message.created_at %>
    <% if current_user && current_user.role == 'admin'%>
        <%= link_to "Delete", message_path(message), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    <% end %>
    <p><%= message.msg %></p>
    
<% end %>

<%= link_to "New Message", new_message_path %>