<h1> New Message </h1>

<%= form_for @message, :url => { :controller => 'messages', :action => "create" } do |f| %>
    <%= f.label :author, "Author" %>
    <%= f.text_field :author %>
    <br>
    <%= f.label :msg, "Message" %>
    <%= f.text_area :msg %>
    <br>
    <%= f.submit "Submit"%>
<% end %>